[Desktop Entry]
Type=Application
Exec=imwheel --kill --buttons 45
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=imwheel
Name=imwheel
Comment[en_US]=
Comment=
